@import-normalize;
/* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: rgba(255, 244, 231, 0.585); */
  background: rgb(255, 249, 232);
  background: radial-gradient(
    circle,
    rgba(255, 249, 232, 0.9473039215686274) 63%,
    rgba(209, 192, 140, 0.6195728291316527) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-title: rgb(26, 12, 12);
  --color-text: rgb(36, 14, 14);
  --color-hover: rgba(183, 42, 42, 0.951);
  --shadow-bottom: 0px 9px 7px -5px rgba(48, 23, 10, 0.68);
  -webkit-box-shadow: 0px 9px 7px -5px rgba(48, 23, 10, 0.68);
  -moz-box-shadow: 0px 9px 7px -5px rgba(48, 23, 10, 0.68);
  --bc-btn: rgb(255, 235, 164);
  --bc-btn-hover: rgba(233, 189, 108, 0.873);
  --transform-hover: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  --transition: transform, linear, 500;
}

/* a {
  text-decoration: none;
  color: inherit;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  min-width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  /* margin: 0 auto; */
  /* position: relative; */
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    padding-left: auto;
    padding-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.active {
  color: rgba(183, 42, 42, 0.951);
}
